<ion-header collapse="fade">
  <ion-toolbar class="py-2">
    <div class="flex justify-between items-center px-8">
      <div class="flex items-center gap-2 cursor-pointer" routerLink="/">
        <img src="https://img.pikbest.com/png-images/20241122/hospital-logo-design-with-shield-icon_11120008.png!sw800" alt="App Logo" class="logo"/>
        <span class="titulo">MiSalud</span>
      </div>
      <div class="flex gap-6 items-center">
        <ion-button routerLink="/citas" fill="clear" class="citas-btn">Citas</ion-button>
        <ion-button routerLink="/doctores" fill="clear" class="doctores-btn">Doctores</ion-button>
        
        @if (estaAutenticado) {
          <span class="text-white font-medium px-3">Bienvenid@, {{nombreUsuario}}</span>
          <ion-button (click)="cerrarSesion()" fill="clear" class="logout-btn">Cerrar Sesión</ion-button>
        } @else {
          <ion-button routerLink="/login" fill="clear" class="login-btn">Iniciar Sesión</ion-button>
          <ion-button routerLink="/register" fill="clear" class="register-btn">Registrarse</ion-button>
        }
      </div>
    </div>
  </ion-toolbar>
</ion-header>