
    <div class="footer-container">
      <div class="footer-content">
        <!-- Lado izquierdo: Logo y lema -->
        <div class="footer-left">
          <div class="footer-logo">
            <img src="https://img.pikbest.com/png-images/20241122/hospital-logo-design-with-shield-icon_11120008.png!sw800" alt="MiSalud Logo" class="logo-footer"/>
            <span class="brand-name">MiSalud</span>
          </div>
          <div class="slogan">
            <p class="main-slogan">"Cuidando tu salud con amor y dedicación"</p>
            <p class="sub-slogan">Tu bienestar es nuestra misión</p>
          </div>
        </div>
        
        <!-- Lado derecho: Redes sociales -->
        <div class="footer-right">
          <div class="social-title">
            <h4>Síguenos en nuestras redes</h4>
          </div>
          <div class="social-links">
            <a href="#" class="social-link facebook">
              <ion-icon name="logo-facebook"></ion-icon>
              <span>Facebook</span>
            </a>
            <a href="#" class="social-link instagram">
              <ion-icon name="logo-instagram"></ion-icon>
              <span>Instagram</span>
            </a>
            <a href="#" class="social-link twitter">
              <ion-icon name="logo-twitter"></ion-icon>
              <span>Twitter</span>
            </a>
            <a href="#" class="social-link linkedin">
              <ion-icon name="logo-linkedin"></ion-icon>
              <span>LinkedIn</span>
            </a>
          </div>
        </div>
      </div>
      
      <!-- Copyright -->
      <div class="footer-bottom">
        <p>&copy; 2025 MiSalud. Todos los derechos reservados. | Comprometidos con la excelencia médica</p>
      </div>
    </div>
